body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f6f6f6;
}

h1, h3{
    color: #ff8e6e;
}

h1{
    font-size: 40px;
    text-shadow: 2px 2px #515070;
}

h3{
    font-size: 40px;
}

img{
    width: 100px;
}

.entergame{
    background-color: #f6f6f6;
    height: 1000px;
    width: 100%;
    opacity: 0.9;
    position: absolute;
    transition: 1s opacity;
}

.btn-entergame{
    width: 300px;
    height: 300px;
    margin-top: 150px;
}





.hands{
    height: 280px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly; 
    padding-bottom: 20px; 
    
}



.playerhandicon, .computerhandicon{
    width: 200px;

}

.transform {  
    transition: all 2s ease;
}
.transform-active {
    background-color: #45CEE0;
    height: 200px;
    width: 200px;
  }



.options{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly; 
    padding-top: 20px;  
}

button{
    border: 5px solid #515070; 
    border-radius: 50%;
    
    background-color: #515070;
    padding: 20px 20px;
    outline: none;
}

button:hover{
    transform: scale(1.2);
    border: 1px solid #515070;
    
}

@keyframes bounce{
    0%   {transform: translateY(0);}
    25%   {transform: translateY(-30px);}
    50%  {transform: translateY(0);}
    75%   {transform: translateY(-30px);}
    100% {transform: translateY(0);}
  
}